.containeform{
    max-width: 50%;
    margin: 20px auto;
    
}
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .oauth-group {
    display: flex;
    justify-content: center;
  }
  
  .oauth-button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .oauth-button:hover {
    background-color: #f8f8f8;
  }
  

  @media only screen and (max-width: 768px) {
    .containeform{
        max-width: 90%;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 5px;
    }
}