.banner{
    width: 100%;
    height: 80vh;
   position: relative;
}

.banner .overLay{
    /* position: absolute; */
    /* width: 50%; */
     background-color: rgba(0, 0, 0, 0.664);
     z-index: 999;
     margin: auto 0;
}

