.textBorder{
    color: transparent;
    -webkit-text-stroke: 2px #ffbe76;
    text-shadow: 4px 4px #e08c68ab;
}

.textBorder-middle{
    -webkit-text-stroke: 2px #ffffff;
    text-shadow: 4px 4px #ffffff41;
}
.hoverEffect {
    position: relative;
    overflow: hidden;
    /* box-shadow: 15px 15px 30px 0px #f56918c5; */
    z-index: 1;
  }
  .hoverEffect::after{
    content: "";
    height: 0;
    width: 100%;
    background-color: #0f172a;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all .5s;
    transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    -o-transform-origin: top;
  }
  
  .hoverEffect:hover::after {
    height: 100%;
  }
.btn{
    border: none;
}